<div class="loading" *ngIf="loading">
  <img src="../../assets/img/loader.gif" alt="loading-spin">
</div>

<div class="container">
  <ul id="favoritos-list" *ngIf="favorites">
    <li *ngFor="let favorite of favorites" class="favorite-item">
      <div class="data">
        <h4>{{ favorite.title }}</h4>
        <p class="url">{{ favorite.url }}</p>
        <p class="buttons">
          <a href="{{ favorite.url }}" target="_blank" class="btn btn-default">
            Ir al marcador
          </a>
          <!-- usando routerLink para movernos entre los componentes -->
          <a [routerLink]="['/marcador', favorite._id]" class="btn btn-ver">
            Ver
          </a>
          <a [routerLink]="['/marcador/editar', favorite._id]" class="btn btn-editar">
            Editar
          </a>
          <a (click)="onDeleteConfirm(favorite._id)" class="btn btn-eliminar">
            Eliminar
          </a>
        </p>

          <div class="sure" *ngIf="flagToDelete == favorite._id">
            <p><span><strong>¿Estas seguro de querer borrar el favorito?</strong></span></p>
            <a (click)="onDeleteFavorite(favorite._id)" class="btn btn-eliminar">
              Eliminar
            </a>
            <a (click)="onCancelConfirm(favorite._id)" class="btn btn-ver">
              Cancelar
            </a>
          </div>
      </div>
    </li>
  </ul>
</div>