# Api Rest

/api-restful-favoritos/node_modules

# Client 

/client-favoritos/node_modules
/client-favoritos/app/*.js
/client-favoritos/app/*.map
/client-favoritos/app/components/*.js
/client-favoritos/app/components/*.map
